#root {
	width: 356px;
	margin: 50px auto 0;
}

.game-board {
	padding: 25px;
	position: relative;
	width: 306px;
	margin: auto 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background-color: #222;
}

.pull-right {
	float: right;
}

.game-pieces-container {
	position: relative;
}

.game-pieces {
	display: inline-block;
}

.game-piece {
	height:150px;
	margin-bottom: 10px;
	width: 150px;
}

.game-piece-1.active {
	box-shadow: 0px 0px 17px 4px green;
	background-color: green;
}

.game-piece-2.active {
	box-shadow: 0px 0px 17px 4px yellow;
	background-color: yellow;
}

.game-piece-3.active {
	box-shadow: 0px 0px 17px 4px red;
	background-color: red;
}

.game-piece-4.active {
	box-shadow: 0px 0px 17px 4px blue;
	background-color: blue;
}

.game-piece-1 {
	background-color:#0b7000;
	-moz-border-radius: 150px 0 0 0;
	border-radius: 150px 0 0 0;
}

.game-piece-2 {
	background-color:#c3b400;
	-moz-border-radius: 0 0 0 150px;
	border-radius: 0 0 0 150px;
	margin-bottom: 0;
}

.game-piece-3 {
	background-color:#c30800;
	-moz-border-radius: 0 150px 0 0;
	border-radius: 0 150px 0 0;
}

.game-piece-4 {
	background-color:#196d85;
	-moz-border-radius: 0 0 150px 0;
	border-radius: 0 0 150px 0;
	margin-bottom: 0;
}

.game-board .level-container {
	background-color:#000;
	color: #fff;
	height:100px;
	width:100px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	position: absolute;
	display: inline-block;
	left: 105px;
	text-align: center;
	font-size: 40px;
	top: 105px;
	z-index: 1;
}

.game-board .level-container .level {
	position: relative;
	top: 25px;
}

button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.button-primary {
	color: #FFF;
  background-color: #337ab7;
  border-color: #2e6da4;
}
